bakko_workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -144,
        -16
      ],
      "id": "f626792f-d615-4468-b4c6-e79e1cb45809",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1YTztaTHkWMYj3PIks_maloPOYQTjc8KmvbKvKBQvJQ0/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YTztaTHkWMYj3PIks_maloPOYQTjc8KmvbKvKBQvJQ0/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -16,
        -16
      ],
      "id": "58b067ba-53fe-4199-9330-a1070aab48a1",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "8l0CEtcUwd40ZlU8",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        112,
        -16
      ],
      "id": "ee9c419d-af5e-4c76-bc1a-3122598388f5",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8000/fetch/{{ $json.Instagram }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        368,
        -256
      ],
      "id": "9753ab25-d2ba-4ce3-a949-69fe1dedb64d",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "fieldToSplitOut": "content",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        368,
        -128
      ],
      "id": "78ef5343-f643-4791-b864-0af33eb01fe6",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        912,
        -128
      ],
      "id": "2be538ef-4d77-470c-8d40-94b19281416b",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Analise o conteúdo a seguir, retirado de um post do Instagram, e classifique-o em uma das duas categorias:\n\n**Evento** – Há indicação explícita de um evento que acontece ou vai acontecer (data, horário, local, programação, atrações, ingressos, reservas, dias específicos como “hoje”, “amanhã”, “sexta”, etc.).\n\n**Post de Aquecimento** – Conteúdo sem relação com um evento específico; geralmente apenas divulgação do estabelecimento, fotos, curiosidades, descrição de produtos, perguntas ao público, etc.\n\nInformações disponíveis:\n- **Texto do post:** {{ $json.caption }}\n- **Data do post:** {{ $json.date }}\n- **Informações visuais extraídas da imagem:** {{ $json.imageDescription }}\n- **Nome do organizador/estabelecimento:** {{ $json.nomeOrganizador }}\n\n**Instruções obrigatórias:**\n1. Use todas as informações acima de forma integrada.\n2. Não assuma nada que não esteja explícito nas informações fornecidas.\n3. Caso o texto ou a imagem indiquem claramente um evento, classifique como **Evento**; caso contrário, classifique como **Post de Aquecimento**.\n4. Responda apenas no formato abaixo, sem adicionar nada além do solicitado.\n\n**Formato de resposta obrigatório:**\nClassificação: <Evento | Post de Aquecimento>  \nJustificativa: <1–2 frases explicando de forma objetiva o motivo da classificação>  \nConfiança: <0–100>  \nElementos_Relevantes: [lista de palavras ou frases que influenciaram na decisão]"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1632,
        -240
      ],
      "id": "5dccd5d1-989a-42d1-9db2-2318d3e57c1d",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "R9I1AURD3y05RcwX",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1632,
        -368
      ],
      "id": "a380c40a-580d-454f-8cf7-fdaa25cc42ee",
      "name": "Wait",
      "webhookId": "f542d4ad-c360-43dd-9608-0980e8ba0a78"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "= {{ $json.content.parts[0].text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1632,
        -128
      ],
      "id": "e6269c34-7b7d-4428-96dc-39d1ed62de16",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "={{ $json.image.url }}{{ $json.posts[0].image.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1072,
        -544
      ],
      "id": "23748ca9-224e-48d0-bcb1-3e22436dbdeb",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "Função: Você é um agente de visão de IA especializado em entender e interpretar imagens.\n\nObjetivo: Ao receber uma imagem (juntamente com um texto opcional, como uma legenda), sua tarefa é analisar a imagem cuidadosamente e retornar informações que são apresentadas, com míninos detalhes, sobre os elementos. ",
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1072,
        -400
      ],
      "id": "f353444c-3290-47f4-afa9-1ec8b6f9593f",
      "name": "Analyze an image",
      "credentials": {
        "googlePalmApi": {
          "id": "R9I1AURD3y05RcwX",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3d8b6a43-fdd5-4bf4-bb37-163cdd2f6057",
              "name": "imageDescription",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1072,
        -256
      ],
      "id": "3baf7617-e619-41a9-a962-f50c6455a4c9",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe6a48b7-9e65-4dbe-8e1a-d502b304bd15",
              "name": "imageDescription",
              "value": "={{ $json.data[0].imageDescription }}",
              "type": "string"
            },
            {
              "id": "fbf0e9b1-4a83-4f23-bac2-74a70fb9863c",
              "name": "caption",
              "value": "={{ $json.data[1].caption }}",
              "type": "string"
            },
            {
              "id": "7754a1b8-80d4-41ec-bbcd-cd1cec12f046",
              "name": "imageObj",
              "value": "={{ $json.data[1].image }}",
              "type": "object"
            },
            {
              "id": "80cdd3b0-4f83-4200-b79c-323d23200964",
              "name": "date",
              "value": "={{ $json.data[1].date }}",
              "type": "string"
            },
            {
              "id": "2ec624cc-b8aa-4920-89dd-cda61d47b14d",
              "name": "nomeOrganizador",
              "value": "={{ $json.data[2].info.Organizador }}",
              "type": "string"
            },
            {
              "id": "757f053b-bbec-4b3f-8dcd-b9ab62374ed6",
              "name": "IdOrganizador",
              "value": "={{ $json.data[2].info.Id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1520,
        0
      ],
      "id": "9aaea4f4-25bc-44fd-ae3e-1a1be6420ed7",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1200,
        -16
      ],
      "id": "789cd568-5680-46bf-9133-8045c7a6e16b",
      "name": "Merge"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1360,
        0
      ],
      "id": "3be41466-77ae-4e9e-82a5-67b6dcfda188",
      "name": "Aggregate"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        496,
        0
      ],
      "id": "d51b1f6d-fd8d-48fb-8ad6-92a7cc9aebc6",
      "name": "Merge1"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\n\nlet returnObj = {posts: [], info: {}}\n\nfor (const item of $input.all()) {\n  if(Boolean(item.json.caption)) {\n    returnObj.posts.push(item.json)\n  } else {\n    returnObj.info = item.json\n  }\n}\n\nreturn returnObj;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        0
      ],
      "id": "71c65404-461f-40cb-8881-b59b6d3beaba",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "65c22fc2-298b-428a-b641-d0879b4b8d0c",
              "name": "posts",
              "value": "={{ $json.posts }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        736,
        -256
      ],
      "id": "7d36a503-84ce-40b4-9a56-a1ba0a38a019",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "568175f7-1202-4e41-99e0-d65c3d2b6568",
              "name": "info",
              "value": "={{ $json.info }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        752,
        48
      ],
      "id": "f6614793-6991-4257-8d40-d2dfa6af14f9",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "fieldToSplitOut": "posts",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        736,
        -128
      ],
      "id": "1a326095-6e23-4ac6-8e17-76b95738f3d9",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "685f8e9b-e643-4256-81b4-393e985fb18e",
              "leftValue": "={{ $json[\"Classificação\"] }}",
              "rightValue": "Evento",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "ad352817-abbb-4aac-bc3a-392e15166fd9",
              "leftValue": "={{ $json[\"Confiança\"] }}",
              "rightValue": 65,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2080,
        -16
      ],
      "id": "70c9c0f9-8193-4542-b6b8-37efb0bd7740",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\n\nconsole.log()\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2320,
        -32
      ],
      "id": "53be8c5a-6607-429a-a37c-68ee651e8110",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1888,
        -16
      ],
      "id": "5cf7d416-44d9-4819-8ce0-e33475ad9891",
      "name": "Merge2"
    },
    {
      "parameters": {
        "content": "Obtem os organizadores da planilha e, para cada um, inicia o loop"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -96,
        -272
      ],
      "id": "328661dd-87c0-4ec7-9229-dab478b7e304",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Obtem as informações dos posts do instagram via API de scraping e inicia um loop para cada post"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        544,
        -480
      ],
      "id": "e6253ad4-7e67-42e6-a158-993f92a40d1a",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Faz o download da primeira imagem do post e busca pelas informações apresentadas"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1008,
        -752
      ],
      "id": "120186b6-0b99-43ec-802b-3456ff1e1290",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "### Role ou Post de aquecimento\n\nVerifica a partir de todas as informações se o post é sobre um evento ou apenas para aquecer o instagram"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1744,
        -592
      ],
      "id": "073ca2bc-ec25-49ea-bf8c-350ebe5bf4aa",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Analyze an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze an image": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4347516b-ea6d-4672-817f-d7e88fa7e561",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c9b688da8befc41f4493ff517fb571339a7fb92c4a221710eff4f86231e5543e"
  },
  "id": "4kw6E1dB9bd9YBom",
  "tags": []
}